 html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0) ;
    background: linear-gradient(53deg,#e2c4d4, #efced5,#f597ae,#f1b2b3,#ecacc3);
    background-size: 300% 300%;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }

    
  }
  .cabeçalho{
    background-color: white;
    height: 80px;
    align-content: space-between;
    margin-bottom: 6%;
    
  }
  .cabeçalho #wow{
   align-content: space-evenly;
   padding-top: 5%;
   padding-bottom: 2%;
 
  }

  .cabeçalho #menu{
    background-image: url(images/translate.jpg);
    background-size: cover;
    height: 50px;
    width: 50px;
    padding-top: 0%;
    position: absolute;
    margin-left: 58%;
    margin-top: 4%;
    border-color: #66666651;
    border-width: 1px;
    box-shadow: 3px 3px 3px #201f1f62
              -3px -3px 3px #3b3939;
    font-size: x-small;
    border-radius: 30%;

    
  }

  .btn-pt{
    background-image: url(images/portugal.jpg);
    background-size: contain;
    width: 15px; 
    height: 30px; 
    text-align: end; 
    color: #1f1717; 
    font-size: 0px; 
    border: none;
    cursor: pointer;
    margin-top: 5%;
    text-align-last: auto;
    float: left;

  }
 
  .btn-es{
    background-image: url(images/spain.jpg);
    background-size: cover;
    width: 15px; 
    height: 30px; 
    text-align: end; 
    color: #1f1717; 
    font-size: 0px; 
    border: none;
    cursor: pointer;
  }

  .btn-fr{
    background-image: url(images/france.jpg);
    background-size: contain;
    width: 15px; 
    height: 30px; 
    text-align: end; 
    color: #1f1717; 
    font-size: 0px; 
    border: none;
    cursor: pointer;
  }
   
   #hidden-buttons {
    display: none;
    margin-left: 75%;
    font-display: column;
    
   }

  .hidden-buttons button {
    width: 50px;
    margin: 3px 0; 
    margin-top: 19%;
    margin-left: 32%;
}

  .container{
    width: 150px;
    justify-content: center;
    align-items: center;  
    display: block;
    margin: 0 auto;
    padding-top: 3%;
    cursor: auto;
    
    
  }
  .img {
    
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: auto;
   
    
  
  }
  #pink {
    padding-top: 3%;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: auto;
    border-radius: 55.5%;
    box-shadow: #3d3c3c6f 3px 7px 5px;
  }
#main {
    text-align: center;
    font-family: 'Open Sans', cursive 15px;
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    margin-top: 5%;
    margin: 0;
    cursor: auto;
   

}

#main h1{
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: 70px 'Open Sans';
    color: #dc2484;
    justify-content: center;
    align-items: center;  
    display: block;
    margin: 0 auto;
    padding-top: 3%;
    cursor: auto;
    
    
   
}

#main h3{

    color: rgb(255, 241, 243);
    font: 'Open Sans';
    font-style: italic;
    font-size: 25px;
    font-weight: 200; 
    display: block;
    margin: 0 auto;
    padding-top: 4%;
    padding-bottom: 6%;
    cursor: auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 1px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.22);
    margin-top: 17%;

}
#fones {
    text-align: center;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 1px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgba(255, 255, 255, 0.22);
    margin-bottom: 20%;
    box-shadow: #3d3c3c18 3px 7px 5px;
}

#fones p{

    color: rgb(255, 241, 243);
    font: 'Open Sans';
    font-style: italic;
    font-size: 22px;
    font-weight: 200;
    justify-content: center;
    align-items: center;  
    display: block;
    margin: 0 auto;
    padding-top: 4%;
    padding-bottom: 4%;
    cursor: auto;
}

.banner {
    width: 350px;
    height: 250px;
    background: linear-gradient(10deg, rgb(240, 201, 223) 0%, rgba(255, 111, 149, 0.628) 100%);
    border-radius: 16px;
    box-shadow: 0 10px 35px rgba(16, 16, 16, 0.42);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    padding-top: 6%;
    padding-bottom: 7%;
    cursor: auto;
    align-content: center;
    text-align:justify;
    
    

}


#trackImage{
    
    height: 200px;
    width: 350px;
    display: block;
    cursor: auto;
    align-items: center;  
    margin: 0 auto;
    padding-top: 6%;
    padding-bottom: 6%;
    cursor: auto;
    border: transparent;
    border-radius: 7%;
  

}

.audio{
    align-items: center;
    justify-content: center;
    background-color: #fffcfcfd;
    margin-bottom: 15%;
}

#audioElement{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto 0;
    padding-top: 10%;
    padding-bottom: 5%;
    color: white;
    margin-bottom: 5%;
}

#audioPlayer div{
    display: flex;
    justify-content: center;
    align-items: center;

}

#controls {
    display: inline-flex;
    height:100%;
    width: 100%;
    margin: auto 0;
    justify-content: space-evenly;
    color: white
    padding-bottom 10px;
    text-align: center;
    margin-bottom: 6%;
    padding-top: 0%;
    
}
.music {

  background-color: #a3ddf800;
  background-size: 10px;
}

#musicName {
  
    display: block;
    white-space: wrap;
    overflow-wrap: break-word;
    color: #ffffff;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto 0;
    margin-top: 12%;
    text-wrap: pretty;
    text-align: center;
    margin-bottom: 10%;
   
}

#btnRewind {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #742537;
    padding: 0.7em 1.7em;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #fcadad;
    box-shadow: 3px 3px 3px #201f1f62,
               -3px -3px 3px #f8b9c8;
    inline-size: 43%;
  }
  
  #btnRewind:active {
    color: #666;
    box-shadow: inset 3px 3px 2px #c5c5c5,
               inset -3px -3px 2px #eeacac;
  }
  
  #btnRewind:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(27, 27, 27, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  #btnRewind:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #ffffff;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
    
  }
  
  #btnRewind:hover {
    color: #ffffff;
    border: 1px solid #e14c85;;
  }
  
  #btnRewind:hover:before {
    top: -35%;
    background-color: #e14c85;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  #btnRewind:hover:after {
    top: -45%;
    background-color: #cf0459a5;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
    
  #btnNext  {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #742537;
    padding: 0.7em 1.7em;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #fcadad;
    box-shadow: 3px 3px 3px #201f1f62,
               -3px -3px 3px #f8b9c8;
    inline-size: 43%;
  }
  
  #btnNext:active {
    color: #666;
    box-shadow: inset 3px 3px 2px #c5c5c5,
               inset -3px -3px 2px #ffffff;
  }
  
  #btnNext:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  #btnNext:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #ffffff;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
 #btnNext:hover {
    color: #ffffff;
    border: 1px solid #e14c85;;
  }
  
  #btnNext:hover:before {
    top: -35%;
    background-color: #e14c85;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  #btnNext:hover:after {
    top: -45%;
    background-color: #cf0459a5;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  


footer{
color: white;
text-align: center;
padding-top: 5%;
padding-bottom: 5%;

}

